<navbar class="navbar__top">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
  </nav>
</navbar>

<header>
    <h1 ng-bind="this.title"></h1>
    
    <section class="search-section" role="search">
      <form action="" ng-submit="this.sendQuery($event)">
        <input type="text" ng-model="this.query" placeholder="Введите имя артиста">
        <button type="submit">search</button>
      </form>
    </section> 

    <section class="search-info">
      <span ng-if="this.query.length" class="caption">Вы ищите:</span>
      <span ng-bind="this.query"></span>
    </section>

</header>

<main>
  <ul>
    <li ng-repeat="item in this.list" ng-class="$odd ? 'odd' : 'even'"> {{ item.name }} </li>
  </ul>
</main>