home
  position relative
  
  h1
    margin 0
    padding-bottom 3px
    border-bottom 1px solid #f0f0f0

  main
    position relative
    padding 0 16px

  ul
    position relative
    width 300px
    padding 0
    list-style disc
    list-style-position inside

    li
      position relative
      box-sizing border-box
      padding 3px 9px

      &.even
        background-color lighten(green, 9%)



 .search-section
   position relative
   margin-top 16px

  .search-info
    position relative
    margin-top 16px

    .caption
      color lighten(green, 30%)      
